.container::after {
	content: '';
	display: block;
	clear: both;
}

.item {
	background: #0bd;
	color: #fff;
	padding: 10px;
	width: 200px;
	margin: 10px;
	float: left;
}

.test {
	background: gray;
	padding:10px;
}