.container {
	display: flex;
	/* flex-direction: row; */
	flex-direction: row-reverse;
	/* flex-direction: column; */
	/* flex-direction: column-reverse; */
}

.item {
	background: #0bd;
	color: #fff;
	margin: 10px;
	padding: 10px;
}